[Desktop Entry]
Version=1.0
Type=Application

Name={{ provider.name }}
Icon={{ provider.icon }}
Comment={{ provider.description }}

DBusActivatable=true
Terminal=false

OnlyShowIn=GNOME;
Exec=/usr/libexec/{{ provider.id | camel_to_kebab }}-search-provider/run
