[Desktop Entry]
Version=1.0
Type=Application

Name=four43's Project Search
Icon=application-xml
Comment=GNOME Shell search provider for projects

DBusActivatable=true
Terminal=false

OnlyShowIn=GNOME;
Exec=/usr/local/bin/gnome-search-providers/com.four43.Projects.Search
